.lakehood-beaver {
    position: absolute;
    bottom: 22%;
    right: 2%;
    width: 37%;
    height: 22%;
    cursor: pointer;
}

.lakehood-mike {
    position: absolute;
    bottom: 30%;
    right: 40%;
    width: 28%;
    height: 22%;
    cursor: pointer;
}

.lakehood-green{
    position: absolute;
    bottom: 35%;
    left: 10%;
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.lakehood__image {
    height: 100%;
}