.allPeople {
    width: 100vw;
    height: 100vh;

    position: relative;
}
.backgroundPeople {
    width: 100%;
    height: 100%;
    position: absolute;

}


.people {
    position: absolute;

    bottom: 0;
    
    width: auto;
    cursor: pointer;
}

.granny {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out .8s, filter 1s ease-in-out;
    max-height: 450px;
    height: 57%;
    left: 0;

    filter: contrast(70%);

    &.isActive{
        filter: contrast(100%);
    }

}

.daddy {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out .5s, filter 1s ease-in-out;
    max-height: 550px;
    height: 70%;
    left: 0;

    filter: contrast(70%);

    &.isActive{
        filter: contrast(100%);
    }

}

.child {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
    max-height: 380px;
    height: 50%;
    left: 0;

    filter: contrast(70%);

    &.isActive{
        filter: contrast(100%);
    }

}

.mommy {
    max-height: 550px;
    height: 75%;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s ease-in-out .5s, filter 1s ease-in-out;


    filter: contrast(70%);

    &.isActive{
        filter: contrast(100%);
    }
}

.teenager {
    max-height: 500px;
    height: 70%;
    right: 0;

    transform: translateX(100%);
    transition: transform 1s ease-in-out, filter 1s ease-in-out;

    filter: contrast(70%);

    &.isActive{
        filter: contrast(100%);
    }
}

.allPeople {
    &.isInView{
        .granny {
            transform: translateX(13%);
        }
        .daddy {
            transform: translateX(100%);
        }
        .child {
            transform: translateX(250%);
        }
        .teenager {
            transform: translateX(-200%);
        }
        .mommy {
            transform: translateX(-13%);
        }
    }
}
