.adviceRight, .adviceLeft, .adviceDown {
    position: fixed;
    bottom: 17%;

    right: 0;
    left: -1%;
    margin: auto;

    width: 50px;
    height: 50px;
    opacity: .2;

    border: solid white 1px;
    border-radius: 10%;
}

.adviceRight {
    right: -8%;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    &.isUnActive{
        opacity: .2;
    }
}
.adviceLeft {
    left: -9%;
    transition: opacity .5s ease-in-out;
    &.isActive {
        opacity: 1;
    }
}
.adviceDown {
    transition: opacity .5s ease-in-out;
    &.isActive {
        opacity: 1;
    }
}

.arrow-down {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 12px solid white;
}
.arrow-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 12px solid white;
}
  
.arrow-left {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:12px solid white; 
}