.about {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/homeBackgroundMotif.png');
    background-color: #152c2e;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about__heading{
    font-size: 63px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 12px;
}

.about__content {
    width: 65%;
    margin-top: 65px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3.85px;
    line-height: 1.62em;
    opacity: .65;
}