.story {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    .story__element {
        width: 100%;
        height: 100vh;
        scroll-snap-align: start end;
        background-image: url('../../assets/images/homeBackgroundMotif.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .story__element-content {
            position: relative;
            width: 70%;
            .story__element-content-img {
                width: 100%;
                box-shadow: -16.8px 24.9px 103.4px 6.6px rgba(0, 0, 0, 0.12);
        }

            .story__element-content-link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .story__element-content-link-img {
                    width: auto;
                    max-width: 90px;
                }
            }
            .story__element-content-title {
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 5em;
                font-weight: bold;
                letter-spacing: 14px;
                text-shadow: -5.6px 8.3px 18px rgba(93, 93, 93, 0.3);
                text-transform: uppercase;
            }
            .story__element-duration {
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-size: 1.2em;
                text-shadow: -5.6px 8.3px 18px rgba(93, 93, 93, 0.3);
            }
        }
        .story__element-subtitle {
            width: 100%;
            margin-top: 30px;
            opacity: 0.64;
            font-size: 1.5em;
            letter-spacing: 3px;
            color: rgba(255, 254, 254, 0.64);
            text-align: center;
        }
    }
}

