footer {
    position: absolute;
    bottom: -15px;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    min-height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    .timeline {
        position: relative;
        height: 0;
        margin: 30px auto;
        width: 80%;
        display: block;
        border: 1px dashed white;
        .fill {
            position: absolute;
            top: -1px;
            left: 0;
            display: block;
            height: 2px;
            background-color: white;
            transition: all .3s ease-in-out;
        }
        .container {
            display: flex;
            justify-content: space-between;
            .item {
                position: relative;
                margin-top: 15px;
                text-transform: uppercase;
                font-size: 14px;
                color: #99acb0;
                &::before {
                    content: "";
                    position: absolute;
                    top: -22px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 15px;
                    height: 15px;
                    background-color: #6A9495;
                    border: 1px solid white;
                    border-radius: 25px;
                }
                p {
                    position: absolute;
                    transform: translateX(-50%);
                    width: 80px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
}
