@import 'core/reset';

main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    div {
        text-align: center;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
}

button {
    background-color: #8063FC;
    padding: 20px;
    margin: 20px;
    border: 1px #804AF3 solid;
    &:hover {
        cursor: pointer;
    }
}

.choice {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.video {
    display: none;
}

.flight {
    width: 100%;
    height: 100%;
}

.take-off-plants {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
