// ALL
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

img {
    width: 100%;
}

.plants {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


// MOTIONS
.video {
    display: none;
}

.context, .flight, .tenakee {
    width: 100%;
    height: 100%;
}





// BEAR SCENE
.background {
    position: absolute;
    top: 0;
    left: 0;
}

.bear {
    position: absolute;
    top: 66%;
    left: 25%;
    width: 180px;
    height: 128px;
    transform: scale(1.2);
    background-image: url('/bear/bear-walk-sprite.png');
    background-position: left center;
    background-size: cover;
    animation: 5s walkBear steps(18) 2s, 5s goForward 1 2s;
    &.back {
        background-image: url('/bear/bear-back-sprite.png');
        animation: 10s backBear steps(28), 10s goBack 1;
    }
}

@keyframes walkBear {
    100% {
        background-position: -3240px -0;
    }
}

@keyframes goForward {
    0% {
        left: -15%;
    }
    100% {
        left: 25%;
    }
}

@keyframes backBear {
    100% {
        background-position: -5040px -0;
    }
}

@keyframes goBack {
    0% {
        left: 25%;
    }
    100% {
        left: -15%;
    }
}
